@import "../../styles/variables";
.imgCenter{
    max-width: 350px;
    height: auto;
    margin: 0 auto;
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
}
.imgLeft{
    height: auto;
    margin: 0 auto 0 0;
}
.imgRight{
    height: auto;
    margin: 0 0 0 auto;
}

.subtitleText{
    color: white !important;
    p{
        color: white !important;
    }
}

.noTextDecoration:hover * {
    pointer-events: none;
}

.header-container{
    color:white;
    background-color: $color-primary;    
    background-image: url('../../images/mask-background.svg');
    background-repeat: repeat-x;
    background-position: center ;
    background-size: cover; 
    display: flex;
    align-items: center;
}

@media (max-width: 768) {
    .header-container{
        height: 60px;
    }
}